<div class="nav-bg">
    <div>
        <img src="blog-logo.png" style="height: 60px;" />
    </div>
    <ul class="nav-bar"> 
        <li class="active"><a>Home</a> </li>
        <li><a>Menu1</a> </li>
        <li><a>Menu2</a> </li>
        <li><a>Menu3</a> </li>
        <li><a>Menu1</a> </li>
        <li><a>Menu2</a> </li>
        <li><a>Menu3</a> </li>
        <li><a routerLink="/contact">Contact</a> </li>

        <li><a></a> </li>
        <li><a> <mat-icon fontIcon="search"></mat-icon></a> </li>
        <li><a></a> </li>
    </ul>
</div>