<div class="containera">
    <div class="column col-sm-10">
        <div class="card-  padding-5">
            <h3>Contact us </h3>
            <div>
                <p>This is an example of a contact page with full support for the WP Forms WordPress plugin. Please use
                    our official contact page if you have any pre-sale questions. We would love to hear from you!</p>
            </div>
            <div class="mt-20 pt-10">
                <form>
                    <div class="mt-20">
                      <mat-form-field appearance="fill" appearance="outline" style="width: 100%;">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" required>
                      </mat-form-field>
                    </div>
                    <div class="mt-20">
                      <mat-form-field appearance="fill" appearance="outline" style="width: 100%;">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" required>
                      </mat-form-field>
                    </div>
                    <div class="mt-20">
                      <mat-form-field appearance="fill" appearance="outline" style="width: 100%;">
                        <mat-label>Your message *</mat-label>
                        <textarea matInput></textarea>
                      </mat-form-field>
                    </div>
                    
                    <br />
                    <button mat-flat-button type="submit" >Submit</button>
                  </form>
            </div>
        </div>
    </div>
    <!-- <div class="column col-sm-2">
        <div class="card-  padding-5">
        </div>
    </div> -->
</div>