<div class="containera">
    <div class="column col-sm-10">
        <!-- Content for the first column -->
        <div class="card-a padding-5">
            <h4 class="post-header">
                Learn 10 new ways of positive thinking to help you make the most of yourself
            </h4>
            <div class="icon-sec">
                <span>
                    <mat-icon fontIcon="schedule" style="font-size: 15px;height: 14px; width: 15px;"></mat-icon>
                    3 days ago
                </span>
                <span>
                    <mat-icon fontIcon="person" style="font-size: 15px;height: 14px; width: 15px;"></mat-icon>
                    John Doe
                </span>
                <span>
                    <mat-icon fontIcon="border_color" style="font-size: 15px;height: 14px; width: 15px;"></mat-icon>
                    Lifestyle, Travel
                </span>
                <span>
                    <mat-icon fontIcon="forum" style="font-size: 15px;height: 14px; width: 15px;"></mat-icon>
                    11 Comments
                </span>
            </div>
            <div class="content-area">
                <img src="postimg.jpg" />
                <div>
                    <p>
                        DIY keytar raw denim retro fashion axe post-ironic, banjo Pinterest High Life forage food
                        truck direct trade kitsch fap whatever. Gastropub selfies +1 chia, leggings PBR&B master
                        cleanse keffiyeh fixie. Tumblr XOXO semiotics wayfarers gluten-free. Direct trade bicycle
                        rights Odd Future, tousled Austin umami gluten-free irony 3 wolf moon cliche Schlitz +1.
                        Drinking vinegar PBR flexitarian actually asymmetrical, brunch keffiyeh Austin Cosby sweater
                        blog. Lomo put a bird on it yr ethnic, Kickstarter Schlitz kogi Banksy brunch Carles
                        Intelligentsia Godard. Hoodie YOLO artisan seitan Portland.
                        <br />
                        <br />

                        Pitchfork selfies photo booth keytar semiotics, Odd Future banjo iPhone viral. Direct trade
                        asymmetrical Portland brunch fashion axe. Umami mumblecore freegan, beard sartorial
                        slow-carb fingerstache +1 polaroid. Authentic cardigan single-origin coffee try-hard Wes
                        Anderson, Godard 90’s ennui skateboard forage dreamcatcher flannel. Locavore meggings Godard
                        Intelligentsia, slow-carb American Apparel distillery swag Shoreditch. Pug Austin gastropub
                        ethical try-hard organic. Banjo cardigan whatever street art normcore, gentrify vinyl cred.
                    </p>
                    <p>
                        DIY keytar raw denim retro fashion axe post-ironic, banjo Pinterest High Life forage food
                        truck direct trade kitsch fap whatever. Gastropub selfies +1 chia, leggings PBR&B master
                        cleanse keffiyeh fixie. Tumblr XOXO semiotics wayfarers gluten-free. Direct trade bicycle
                        rights Odd Future, tousled Austin umami gluten-free irony 3 wolf moon cliche Schlitz +1.
                        Drinking vinegar PBR flexitarian actually asymmetrical, brunch keffiyeh Austin Cosby sweater
                        blog. Lomo put a bird on it yr ethnic, Kickstarter Schlitz kogi Banksy brunch Carles
                        Intelligentsia Godard. Hoodie YOLO artisan seitan Portland.
                        <br />
                        <br />

                        Pitchfork selfies photo booth keytar semiotics, Odd Future banjo iPhone viral. Direct trade
                        asymmetrical Portland brunch fashion axe. Umami mumblecore freegan, beard sartorial
                        slow-carb fingerstache +1 polaroid. Authentic cardigan single-origin coffee try-hard Wes
                        Anderson, Godard 90’s ennui skateboard forage dreamcatcher flannel. Locavore meggings Godard
                        Intelligentsia, slow-carb American Apparel distillery swag Shoreditch. Pug Austin gastropub
                        ethical try-hard organic. Banjo cardigan whatever street art normcore, gentrify vinyl cred.
                    </p>

                </div>
            </div>
        </div>

        <div class="card-a padding-5 mt-20">
            <div class="display-flex">
                <div class="same-item">
                    <img src="f1.jpg" />
                    <div>
                        <h4>
                            You can never expect when the pure genius...
                        </h4>
                    </div>
                    <div class="icon-sec">
                        <span>
                            <mat-icon fontIcon="schedule" style="font-size: 15px;height: 14px; width: 15px;"></mat-icon>
                            3 days ago
                        </span>

                        <span>
                            <mat-icon fontIcon="forum" style="font-size: 15px;height: 14px; width: 15px;"></mat-icon>
                            11 Comments
                        </span>
                    </div>
                    <div class="mt-10">
                        <button mat-flat-button>Read more..
                        </button>

                    </div>
                </div>
                <div class="same-item">
                    <img src="f2.jpg" />
                    <div>
                        <h4>
                            You can never expect when the pure genius...
                        </h4>
                    </div>
                    <div class="icon-sec">
                        <span>
                            <mat-icon fontIcon="schedule" style="font-size: 15px;height: 14px; width: 15px;"></mat-icon>
                            3 days ago
                        </span>

                        <span>
                            <mat-icon fontIcon="forum" style="font-size: 15px;height: 14px; width: 15px;"></mat-icon>
                            11 Comments
                        </span>
                    </div>
                    <div class="mt-10">
                        <button mat-flat-button>Read more..
                        </button>

                    </div>
                </div>

            </div>
            <div class="display-flex">
                <div class="same-item">
                    <img src="f1.jpg" />
                    <div>
                        <h4>
                            You can never expect when the pure genius...
                        </h4>
                    </div>
                    <div class="icon-sec">
                        <span>
                            <mat-icon fontIcon="schedule" style="font-size: 15px;height: 14px; width: 15px;"></mat-icon>
                            3 days ago
                        </span>

                        <span>
                            <mat-icon fontIcon="forum" style="font-size: 15px;height: 14px; width: 15px;"></mat-icon>
                            11 Comments
                        </span>
                    </div>
                    <div class="mt-10">
                        <button mat-flat-button>Read more..
                        </button>

                    </div>
                </div>
                <div class="same-item">
                    <img src="f2.jpg" />
                    <div>
                        <h4>
                            You can never expect when the pure genius...
                        </h4>
                    </div>
                    <div class="icon-sec">
                        <span>
                            <mat-icon fontIcon="schedule" style="font-size: 15px;height: 14px; width: 15px;"></mat-icon>
                            3 days ago
                        </span>

                        <span>
                            <mat-icon fontIcon="forum" style="font-size: 15px;height: 14px; width: 15px;"></mat-icon>
                            11 Comments
                        </span>
                    </div>
                    <div class="mt-10">
                        <button mat-flat-button>Read more..
                        </button>

                    </div>
                </div>

            </div>
        </div>

        <!-- About author -->
        <div class="card-a padding-5 mt-20 about-author">
            <h3>
                <span>About Author</span>
            </h3>
            <mat-divider></mat-divider>
            <div class="mt-10 display-flex">
                <div>
                    <img src="author.jpg" />
                </div>
                <div class="pl-10">
                    <h3 class="color-author">John Doe</h3>
                    <p>
                        The idea of Meks came to us after hours and hours of constant work. We want to make contribution
                        to the world by producing finest and smartest stuff for the web. Look better, run faster, feel
                        better, become better!
                    </p>
                </div>
            </div>
        </div>

        <div class="card-a padding-5 mt-20 about-author">
            <h3>
                <span>Leave a Reply</span>
            </h3>
            <mat-divider></mat-divider>
            <p>Your email address will not be published. Required fields are marked *</p>
            <div class="mt-20">
                <mat-form-field class="example-full-width" style="width: 70%;" appearance="outline">
                    <mat-label>Address 2</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
            </div>
            <div>
                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td><mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Name</mat-label>
                                <input matInput>
                            </mat-form-field></td>
                        <td><mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </td>
                        <td><mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Website</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <button mat-flat-button>Post comment
                </button>

            </div>
        </div>
        <!--  -->

    </div>
    <div class="column col-sm-2">
        <!-- Content for the second column -->
        <div class="card-  padding-5">
            <h4 class="hed-1">Most Popular</h4>
            <mat-divider></mat-divider>
            <div class="img-list mt-10">
                <img src="f1.jpg" class="f1" />
                <div class="text-dtls">
                    Give me all your love and I will fly across the sky
                </div>
            </div>
            <div class="img-list mt-10">
                <img src="f2.jpg" class="f1" />
                <div class="text-dtls">
                    Give me all your love and I will fly across the sky
                </div>
            </div>
            <div class="img-list mt-10">
                <img src="f3.jpg" class="f1" />
                <div class="text-dtls">
                    Give me all your love and I will fly across the sky
                </div>
            </div>


        </div>

        <div class="card-  padding-5 mt-10">
            <h4 class="hed-1">Categories</h4>
            <mat-divider></mat-divider>

            <mat-list role="list">
                <mat-list-item role="listitem">
                    Adventures
                    <span class="pull-right">10</span>

                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">Fashion
                    <span class="pull-right">6</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">Lifestyle
                    <span class="pull-right">3</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">Love & Health
                    <span class="pull-right">2</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">Motivation
                    <span class="pull-right">4</span>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item role="listitem">Travel
                    <span class="pull-right">1</span>
                </mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
        </div>
    </div>

</div>

<div>
    <!-- Related Articles -->

</div>