<div class="footer-box">
    <div class="flex-item">
        <h3 class="text-center">About Author</h3>
        <div>
            <p>
                <img src="author.jpg" class="foter-logo" />
                The idea of Meks came to us after hours and hours of constant work. We want to make contribution to the
                world by producing finest and smartest stuff for the web. Look better, run faster, feel better, become
                better!
            </p>
        </div>
    </div>
    <div class="flex-item">
        <h3 class="text-center">How We Do It</h3>
        <iframe height="115" width="100%" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0"
            allowfullscreen></iframe>

    </div>
    <div class="flex-item">
        <h3 class="text-center">Follow Us</h3>
        <p>
            We love to make great things and we promise we won't stop. Join us on our social networks and help us
            improve our work by sharing your thoughts and ideas!
        </p>
        <ul class="solil-ul">
            <li>
                <a>
                    <img src="x.png" />
                </a>
            </li>
            <li>
                <a>
                    <img src="fb.png" />
                </a>
            </li>
            <li>
                <a>
                    <img src="instra.png" />
                </a>
            </li>
            <li>
                <a>
                    <img src="linkd.png" />
                </a>
            </li>
            <li>
                <a>
                    <img src="youtube.png" />
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="copy-wirite">
    <p>Copyright © 2025. design and develope by <b>
        <span style="color: #0bae3c;"> smartcardmarketingsystems</span> </b> </p>
</div>