<mat-drawer mode="side" opened class="sidenav">
    <div class="nav-hdr">
    </div>
    <div class="menu-list">
        <a> <mat-icon>home</mat-icon>
            Dashboard
        </a>
        <a routerLink="/admin/add-post"> <mat-icon>music_note</mat-icon>
            Add Music
        </a>
        <a> <mat-icon>library_music</mat-icon>
            List Music
        </a>
        <a> <mat-icon>list_alt</mat-icon>
            Orders
        </a>
        <a> <mat-icon>summarize</mat-icon>
            Report
        </a>
    </div>
</mat-drawer>