/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-light{
    color: white;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.pl-10{
    padding-left: 10px;
}
.pt-10{
    padding-top: 10px;
}